# Compiled class file
*.class

# Log file
/*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Build system
target/
.mvn/
mvnw
mvnw.cmd

# IDEs
.idea/
.vscode/
*.iml

# Frontend items in subfolder
FE/node_modules/
FE/dist/
FE/.vite/
FE/.env*

# OS
.DS_Store
